$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import '../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    font-family: Arial,​sans-serif;
}

a, a:link, a:hover {
    outline: none;
}

#page-header {

    height: 84px;
    padding-top: 31px;

    #logo {
        
        margin: 0;
        
        a {
            width: 111px;
            height: 25px;
            background: url(../images/logo.png);
            text-indent: -9999px;
            display: block;
            vertical-align: middle;
        }

        strong {
            color: #dddddd;
            font-size: 14px;
            position: relative;
            top: 4px;
            left: 4px;
        }
    }

    .header-link {
        padding:4px 6px;

        float: right;
        border: #f7774a 1px solid;
        border-radius: 15px;
        color: #f7774a;
        font-style: normal;
        position: relative;
        top: -4px;

        a {
            color: #f7774a;


            &:hover{
                text-decoration: underline;
            };
        }
    }

    .header-login-link {
        a {
            color: #f7774a;


            &:hover{
                text-decoration: underline;
            };
        }
    }
}

#add-new-product {
    height: 90px;
    padding-top: 18px;
    background-color: #f2f2f2;
    border-top: #d3d3d3 solid 1px;
    
    

    input {
        line-height: 20px;
        height: 45px;
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .input-group-btn {
        position: absolute;
        width: 80px;
        height: 39px;
        right: 3px;
        top: 3px;
         
        button {
            background: #f7774a;
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;
            z-index: 9;
            border: none 0;
            border-radius: 2px;
            font-size: 18px;
        }
    }
}

#content-info {

    .day-title {
        
        color: #cccdd2;

        strong {
            color: #f7774a; 
        }
    }

    .media {
        margin-bottom: 30px;
    }

    a.pull-left{
        &:visited, &:focus, &:hover {
            text-decoration: none;
        };

        &:hover span {
            text-decoration: none;
            color: #f7774a;
        };

        .liked {
            color: #f7774a;
        }
    }

    .media-heading a {
        font-size: 16px;
    }

    .media-body p {
        font-size: 14px;
        line-height: 20px;
    }
    
    .media-object {

        padding: 4px 10px 4px;
        background: #eeeeee;
        text-decoration: none;

        span {
            display: block;
            text-align: center;
        }

        strong {
            display: block;
            text-align: center;
            margin-top: 4px;
            font-weight: normal;

            &:hover {
                text-decoration: none;
                color: #56453d;
            };
        }
    }

    .media-heading {
        
        a {
            
            &:hover {
                text-decoration: none;
                color: #f7774a;
            };
        }

    }

    a {
        font-size: 14px;
        color: #56453d;
    }

    p {
        color: #ada8a2;
        font-size: 12px;
    }

    .avatar img{
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }

    .des {
        padding-top: 10px;
        text-align: right;
        
    }

    .comment {
        padding-left: 8px;
        font-size: 14px;
        color: #cccdd2;
        width: 50px;
        display: inline-block;

        &:hover {
            text-decoration: none;
            color: #f7774a;
            cursor: pointer;
        };

        span {
            margin-right: 4px;
        }
    }

    .day-load-more {
        a {
            color: #f7774a;
            font-size: 14px;

            &:hover{
                text-decoration: underline;
            };
        }
    }

    .load-more {


        a {
            color: #f7774a;

            padding: 6px 20px;
            border: #f7774a 1px solid;
            border-radius: 15px;
            color: #f7774a;
            font-style: normal;
            position: relative;
            top: -4px;

            &:hover{
                text-decoration: underline;
            };
        }
    }
}

#product-add-form {
    form {
        padding: 80px 100px 80px;

        label {
            color: #ada8a2;
        }

        button {
            background: #f7774a;
            color: #fff;
            z-index: 9999;
            border: none 0;
            border-radius: 2px;
            font-size: 18px;
            float: right;
        }
    }
}

#page-footer {

    margin-top: 25px;

    background-color: #36332e;
    height: 121px;
    padding-top: 37px;

    .footer-logo {
        vertical-align: middle;
    }

    .copy-right {
        padding-top: 15px;
        color: #87796c;
    }

    .footer-link {
        padding-top: 15px;
    
        a{
            color: #f7774a; 

            &:hover{
                text-decoration: underline;
            };
        }
    }
}

#side-top {
    h3 {
        font-size: 16px;
        margin-bottom: 20px;

        a {
            color: #ddd;
            font-size: 14px;
        }
    }

    .media-list {

        margin-bottom: 15px;

        .media-object {
            color: #f7774a;
            font-style: normal;


            strong {
                font-size: 20px;
            }
        } 

        .media-body {

            p {
                color: #ada8a2;
            }
        }

    }
    

}

#page-comment-title {

        background: #fcf3ee;
        
        .media {
            padding: 0 30px 15px;
        }

        .user-info {
            
            padding: 20px 30px 10px;

            .user-name, strong {
                position: relative;
                top: 6px;
            }

            .strong {
                color: #ccc;
                left: 8px;
                font-weight: normal;
            }

            .avatar img{
                width: 32px;
                height: 32px;
                border-radius: 32px;
                margin-right: 10px;
            }

            a {
                color: #f7774a;
                &:hover {
                    text-decoration: underline;
                };
            }


        }

        a {
            font-size: 14px;
            color: #56453d;
        }

        p {
            color: #ada8a2;
            font-size: 12px;
        }

        a.pull-left{
            &:visited, &:focus, &:hover {
                text-decoration: none;
            };

            &:hover span {
                text-decoration: none;
                color: #f7774a;
            };

            .liked {
                color: #f7774a;
            }
        }

        
        .media-object {


            padding: 4px 10px 4px;
            background: #eeeeee;
            text-decoration: none;

            span {
                display: block;
                text-align: center;
            }

            strong {
                display: block;
                text-align: center;
                margin-top: 4px;
                font-weight: normal;

                &:hover {
                    text-decoration: none;
                    color: #56453d;
                };
            }
        }

        .media-heading {
        
            a {
                
                &:hover {
                    text-decoration: none;
                    color: #f7774a;
                };
            }

        }

        .author {

            a {
                color: #f7774a;
                &:hover {
                    text-decoration: underline;
                };
            }

            strong {
                font-weight: normal;
            }
        }

        .go-check-more {
            a {
                padding: 6px 12px;
                display: block;
                color: #f7774a;
                border: 1px solid #f7774a;
                border-radius: 15px;
                position: relative;
                margin-top: 30px;
                margin-bottom: 15px;
                &:hover {
                    text-decoration: underline;
                };
            }
        }
    }

#page-comment {
    

    #page-comment-like {

        padding:0 30px;

        h3 {
            font-weight: normal;
            font-size: 16px;

            strong {
                color: #f7774a;
            }
        }

        li {
            margin-bottom: 4px;
            margin-right: 4px;
            padding: 0;
        }
        
        .avatar img{
            width: 32px;
            height: 32px;
            border-radius: 32px;
        }

    }

    #page-comment-post {
        
        padding:0 30px;

        h3 {
            font-weight: normal;
            font-size: 16px;

            strong {
                color: #f7774a;
            }
        }

        button {
            background: #f7774a;
            color: #fff;
            z-index: 0;
            border: none 0;
            border-radius: 2px;
            font-size: 18px;
            float: right;
        }
    }

    #page-comment-list {

        padding:0 30px;
        margin-bottom: 30px;

        .media-body {

            p {
                color: #53443d;
            }

            .media-heading {
                
                font-size: 14px;
                margin-bottom: 10px;

                a {
                    color: #f7774a; 

                    &:hover{
                        text-decoration: underline;
                    };
                }

                strong {
                    color: #ccc;
                    font-weight: normal;
                }
               
            }

        }    

        .avatar img{
            width: 32px;
            height: 32px;
            border-radius: 32px;
        }

    }
    
}

#show_all_comment {

    z-index: 10000;
    
    .modal-dialog {
        width: 50%;
        margin-top: 0;
        margin-bottom: 0;
        height: 100%;
        margin-left: 50%;
    }

    .modal-content {
        border-radius: 0;
        height: 100%;
        overflow-y: scroll;
        position: absolute;
        width: 100%;
    }
}

.modal.fade .modal-dialog {
    transform: translate(0, 0);
    transition: transform 0.3s ease-out 0s;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 980px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
